version: '3.3'

services:
    redis:
      image: redis:4.0.5-alpine
      command: ["redis-server", "--appendonly", "yes"]
      hostname: redis
      networks:
        - redis-net
      volumes:
        - redis-data:/data
      ports:
        - "6379:6379"
    db:
      image: postgres
      environment:
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD},
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_DB: ${POSTGRES_DATABASE}
      ports:
        - "5432:5432"
    mongodb:
      image: mongo:bionic
      environment:
        MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
        MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
        MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      ports:
        - "27017:27017"
volumes:
  redis-data:
networks:
  redis-net:

