version: '3.3'

services:
    redis:
      image: redis:alpine
      command: redis-server 
      ports:
        - "6379:6379"
    db:
      image: postgres
      environment:
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      ports:
        - "5432:5432"

