<footer style="padding: 20px; margin-top: 5px; display: flex; justify-content: center; align-items: center; background-color: #FCD24B; color: #222">
  <h1 style="font-size: 20px; margin: 0 auto;"> As always, thank you for using our services! </h1>
</footer>