<header style="padding: 20px; margin-bottom: 30px; display: flex; justify-content: center; align-items: center; background-color: #FCD24B; color: #222">
  <h1 style="font-size: 22px; margin: 0 auto;"> GoEat </h1>
</header>